*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (min-width:300px){
    header{
        display: none;
    }
    .mobile-nav{
        display: flex; 
        max-width: 100%;
        padding: 0px 1rem;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 10000;
        background-color: white;
    }
    .mobile-nav .btn{
        padding: 16px 0px;
        margin-left: auto;
    }
    .mobile-nav button{
        display: flex;
        height: 40px;
        justify-content: center;
        gap: 8px;
        z-index: 9999;
        background: transparent;
        border: none;
        outline: none;
        flex-direction: column;
    }
    .mobile-nav button::before{
        display: block;
        content: '';
        width: 24px;
        height: 2px;
        background-color: rgb(36, 51, 90);
    }
    .mobile-nav button::after{
        content: '';
        display: block;
        width: 24px;
        height: 2px;
        background-color: rgb(36, 51, 90);
    }
    .getting-started-template-container{
        position: relative;
        overflow: hidden;
        background-color: #F9FAFE;
    }
    .getting-started-template-container .getting-started-template{
        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 64px 1rem 24px;
    }
    .getting-started-template .digitalocean-community{
        max-width: 864px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .digitalocean-community .heart-in-circles-svg{
        display: none;
    }
    .digitalocean-community .qna-svg{
        display: none;
    }
    .digitalocean-community .get-started{
        display: flex;
        flex-direction: column;
    }
    .get-started .digitalocean-about{
    }
    .digitalocean-community .get-started .digitalocean-about h1{
        margin: .67em auto;
        color: rgb(8, 27, 75);
        font-size: 32px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -2px;
        width: 100%;
        text-align: center;
        text-wrap: wrap;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Epilogue', sans-serif;
        color: rgb(8, 27, 75);
    }
    .digitalocean-community .get-started .digitalocean-about p{
        font-size: 16px;
        width: 100%;
        margin: 0 auto;
        color: rgb(91, 105, 135);
        font-weight: 400;
        line-height: 28px;
        font-family: 'Inter', sans-serif;
    }
    .digitalocean-community .get-started .jumpin-btn{
        margin-top: 76px;
        background-color: white;
        padding: 24px;
        border: 1px solid rgb(8, 11, 45);
        border-radius: 16px;
        z-index: 1;
        cursor: pointer;
        width: 100%;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
        margin-left: auto;
        margin-right: auto;
        position: relative; 
        z-index: 100;
    }
    .jumpin-btn p{
        color: rgb(8, 27, 75);
        font-weight: 500;
        line-height: 36px;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        z-index: 100;
    }
    .oca-svg{
        display: none;
    }
    .introduction-container{
        padding-top: 64px;
    }
    .intro-dig{
        z-index: 10;
        padding: 64px 0px;
    }
    .introduction-container .introduction{
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1360px;
        padding: 0 45px;
        margin: 0 auto;
    }
    .introduction .intro-cloud{
        background-color: #b5f6ff;
        display: flex;
        flex: 1;
        border-radius: 16px;
        padding: 16px;
        margin-bottom: 32px;
    }
    .intro-cloud div, .intro-dig div{
        display: flex;
        flex-direction: column;
    }
    .intro-cloud img{
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }
    .intro-cloud div h4, .intro-dig div h4{
        font-size: 18px;
        line-height: 1.4;
        margin: 0 0 8px;
        /* white-space: nowrap; */
    }
    .intro-cloud div p{
        font-family: 'Inter', sans-serif;
        line-height: 24px;
    }
    .introduction .intro-dig{
        flex: 1;
        background-color: #b5f6ff;
        display: flex;
        border-radius: 16px;
        padding: 16px;
        margin-bottom: 32px;
    }
    .inro-dig img{
        width: 48px;
        height: 48px;
        margin-right: 16px;
    }
    .last-child{
        font-family: 'JetBrains Mono', monospace;
        color: #0069ff;
    }
    .other-intro{
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 1360px;
        padding: 0 45px;
        margin: 0 auto;
    }
    .other-intro .intro{
        gap: 32px;
        background-color: #cee0fa;
        flex: 1;
        padding: 40px;
        margin-bottom: 32px;
        border-radius: 12px;
    }
    .other-intro h4{
        line-height: 1.4;
    }
    .other-intro .intro p{
        line-height: 24px;
        font-family: 'Inter', sans-serif;
    }
    .signup-bonus{
        background: linear-gradient(rgb(155, 98, 255) -6.58%, rgb(102, 23, 239) 132.24%);
        max-width: 1088px;
        margin: 0px  45px 32px;
        padding: 24px 32px;
        border-radius: 16px;
        color: white;
        font-family: 'Inter', sans-serif;
        line-height: 25px;
        font-size: 18px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 64px;
    }
    .signup-bonus a{
        color: white;
    }
    .tutorial-container{
        padding-bottom: 64px;
    }
    .tutorial-container svg{
        display: flex;
        width: 100%;
        height: 54px;
    }
    .tutorial-container .tutorial-section{
        background-color: rgb(239, 242, 251);
        padding: 64px 16px;
        line-height: 1.4;
    }
    .tutorial-section .tutorial{
        max-width: 74rem;
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    .tutorial h2{
        margin: 0px auto 8px;
        font-size: 40px;
    }
    .tutorial h5{
        font-size: 16px;
        font-weight: 400;
        margin: 0px auto 8px;
    }
    .tutorial a{
        text-decoration: none;
        margin: 24px auto 64px;
    }
    .tutorial h4{
        margin: 0 auto 32px;
    }
    .tutorial-container .tutorial-card-container{
        display: grid;
        gap: 32px;
    }
    .tutorial-card-container .tutorial-card{
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: rgba(0, 44, 155, 0.15) 0px 6px 20px -6px;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    transition: box-shadow 0.4s ease 0s, transform 0.4s ease 0s;
    }
    .tutorial-card:hover{
        transform: translatey(-5px);
    }
    .tutorial-card .ty{
        margin-top: 8px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 800;
    }
    .tutorial-card .p1{
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }
    .tutorial-card .time{
        color: rgb(138, 150, 181);
        margin: 16px 0 0;
        line-height: 1.6;
        font-weight: 400;
    }
    .tutorial-container .svg {
        transform: rotate(180deg);
    }
    .get-involved-container{
        padding: 64px 0;
        background-color: #F9FAFE;
    }
    .get-involved-container .get-involved{
        display: flex;
        flex-direction: column;
        margin: 64px 0px;
        max-width: 74rem;
        margin: 0 auto;
        padding: 0 16px;
    }
    .get-involved h2{
        font-size: 40px;
        margin: 0px auto 64px;
    }
    .get-involved h5{
        font-weight: 400;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .get-involved .write{
        display: flex;
        flex-direction: column;
    }
    .involve-card-container .involve-card{
        display: flex;
        flex-direction: column;
        padding: 0 0 32px;
        margin-bottom: 32px;
    }
    .involve-card img{
        width: 64px;
        height: 64px;
        margin: 0 auto;
    }
    .involve-card h4{
        margin: 16px auto 8px;
        font-size: 24px;
        text-align: center;
        line-height: 1.4;
    }
    .involve-card p{
        text-align: center;
        font-family: 'Inter', sans-serif;
        margin: 0 0 24px;
        font-size: 16px;
        line-height: 24px;

    }
    .involve-card a{
        text-align: center;
        text-decoration: none;
    }
    .favourite-topic-container{
        padding: 64px 0;
        background-color: #F9FAFE;
    }
    .favourite-topic-container .favourite-topic{
        display: flex;
        flex-direction: column;
        margin: 64px 0px;
        max-width: 74rem;
        margin: 0 auto;
        padding: 0;
    }
    .favourite-topic h2{
        font-size: 40px;
        text-align: center;
        margin: 0px auto 64px;
    }
    .favourite-topic h5{
        font-weight: 400;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 8px;
        text-align: center;
    }
    .favourite-topic-container a{
        text-align: center;
        text-decoration: none;
        margin: 24px auto 64px;
    }
    .topic-card-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        justify-content: center;
    }
    .topic-card-container .topic-card{
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
        cursor: pointer;
        display: flex;
        font-weight: 600;
        margin: 16px;
        max-width: 296px;
        padding: 24px 28px;
        transition: box-shadow 0.4s ease 0s, transform 0.4s ease 0s;
        width: 100%;
        font-family: 'Inter', sans-serif;
        align-items: center;
    }
    .topic-card-container img {
        margin-right: 32px;
    }
    .topic-card:hover{
        transform: translateY(-5px);
    }
    .course-name>*:first-child{
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }
    .course-name>*:not(:first-child){
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
    }
    .looking-for-container .looking-for{
        background-color: rgb(239, 242, 251);
        padding: 10px 0;
        margin: 0;
        padding: 64px 20px
    } .looking-for-container h2{
        text-align: center;
        font-size: 40px;
        margin: 0px auto 64px;
    }
    .find{
        display: flex;
        flex-direction: column;
        gap: 32px;
        line-height: 1.4;
    }
    .find h4{
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        text-decoration: none;
        padding-bottom: 8px;
    }
    .find p{
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        line-height:22px;
        Color:#4d5b7c;
    }
    .find .browse{
        display: flex;
        align-items: end;
        border-radius: 24px;
        padding: 32px 40px;
        width: 100%;
        text-decoration: none;
        background: url(https://www.digitalocean.com/_next/static/media/block-blue.5162654e.jpg) 0% 0% / cover no-repeat;;
    }
    .find .ask{
        padding: 45px;
        text-decoration: none;
        background-image: url(https://www.digitalocean.com/_next/static/media/block-pink.25c77919.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 4px 8px;
        display: flex;
        flex-direction: column;
        height: 320px;
        justify-content: end;
        margin-bottom: 32px;
        transition: box-shadow 0.2s ease 0s;
        width: 100%;
        height: auto;
    }
    .find .view{
        padding: 45px;
        text-decoration: none;
        background-image: url(https://www.digitalocean.com/_next/static/media/block-yellow.951bfc65.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 24px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 4px 8px;
        display: flex;
        flex-direction: column;
        height: 320px;
        justify-content: end;
        margin-bottom: 32px;
        transition: box-shadow 0.2s ease 0s;
        width: 100%;
        height: auto;
        margin-bottom: 0px;
    }
    .community-content-container{
        background-color: #F9FAFE;
    }
    .community-content{
        padding: 64px 16px;
        margin: 0 auto;
    }
    .community-content h2{
        font-size: 40px;
        margin: 0 auto 64px;
        text-align: center;
        max-width: 1000px;;
        line-height: 56px;
    }
    .community-content .signup-form{
        display: flex;
        flex-direction: column;
    }
    .signup-form h4{
        font-size: 18px;
        line-height: 34px;
        font-weight: 600;
        margin: 0 0 8px;
        text-align: center;
    }
    .signup-form p{
        font-family: 'Inter', sans-serif;
        line-height: 22px;
        font-size: 17px;
        color: #4d5b7c;
    }
    .signup-form .newsletter-infrastructure{
        padding: 16px;
        margin: 0px 0px 32px 0px;
        background: white;
        border-radius: 8px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    }
    .newsletter-infrastructure .input{
        display: flex;
        flex-direction: column;
    }
    .newsletter-infrastructure input{
        padding: 12px 24px;
        border-radius: 8px;
        width: 100%;
        border: 1px solid rgb(192, 194, 211);
        box-shadow: rgba(91, 105, 135, 0.2) 0px 4px 0px; 
    }
    .input a{
        color: white;
        padding: 16px;
        margin-top: 16px;
        text-decoration: none;
        background-color: #0069ff;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        border-radius: 8px;
    }
    .signup-form .socialmedia-pages{
        max-width: 528px;
        padding: 16px;
        background: #9fddff;
        border-radius: 8px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    }
    .socialmedia-pages .accounts{
        margin: 16px 0 0;
    }
    .socialmedia-pages .accounts a{
        color: #4d5b7c;
        text-decoration: none;
    }
    .socialmedia-pages .accounts a:hover{
        color: black;
        transition: color .2s;
    }
    .knowledge-aplication-container{
        background-color: #F9FAFE;
    }
    .knowledge-aplication{
        padding: 64px 20px;
        margin: 0;
    }
    .knowledge-aplication .knowledge-aplication-card{
        display: flex;
        flex-direction: column;
    }
    .knowledge-aplication h2{
        font-size: 40px;
        margin: 0 auto 64px;
        text-align: start;
        max-width: 1000px;;
        line-height: 56px;
    }
    .knowledge-aplication-card img{
        width: 100%;
        height: 73%;
        margin-bottom: 32px;
        border-radius: 16px;
    }
    .card{
        margin-bottom: 32px;
    }
    .card h4{
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        margin: 0 64px 8px 0;
    } 
    .card p{
        font-family: 'Inter', sans-serif;
        line-height: 22px;
        font-size: 17px;
        color: #4d5b7c;
        margin: 0 64px 8px 0;
    }
    .card a{
        text-decoration: none;
    }
    .webhosting-container{
        display: none;
    }
    .appreciation-message-container{
        padding: 120px 20px;
        background-color: #F9FAFE;
    }
    .appreciation-message{
        background-image: url(https://www.digitalocean.com/_next/static/media/thank-you-banner.c4f5d24d.svg);
        background-color: #75EEFE;
        border-radius: 16px;
        padding: 64px 20px;
        margin: 64px auto;
    }
    .appreciation-message h2{
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }
    .opportunity-section-container{
        background-color: #F9FAFE;
    }
    .opportunity-section{
        max-width: 1136px;
        width: 100%;
        margin: 0 auto;
        gap: 32px;
    }
    .opportunity-section .opportunity-card{
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background: white;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
        margin-bottom: 30px;
    }
    .opportunity-section img{
        border-radius: 0;
    }
    .opportunity-card .good{
        padding: 32px 40px;
    }
    .good h5{
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
    .good p{
        font-size: 16px;
        line-height: 24px;
        color: rgba(8, 27, 75, 0.7);
        font-family: 'Inter', sans-serif;
        margin-bottom: 24px;
    }
    .good .tt{
        margin-top: 24px;
    }
    .community-and-product-section{
        background-color: #F9FAFE;
    }
    .community-and-product{
        max-width: 1136px;
        width: 100%;
        padding: 0px 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .community-section, .product-section{
        margin: 64px auto 0;
    }
    .community-section h6, .product-section h6{
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
    }
    .community-section .links, .product-section .links{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        margin-top: 16px;
        font-family: 'Inter', sans-serif;
        white-space: wrap;
    }
    .links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 32px;
        flex-flow: wrap;
        justify-content: center;
    }
    .links a{
        color: #0069ff;
    }
    .developer-cloud-container{
        padding: 128px 0px;
        background-color: #F9FAFE;
    }
    .developer-cloud{
        background-color: #1433dc;
    }
    .about-developer-cloud{
        display: grid;
        grid-template-columns: repeat(2, minmax(0px,1fr));
        color: white;
        max-width: 1136px;
        padding: 80px 24px 0;
        margin: 0 auto;
        gap: 32px;
        align-items: end;
    }
    .developer-cloud-text{
        display: flex;
        align-items: center;
    }
    .developer-cloud-text h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
    }
    .developer-cloud-text p{
        font-family: 'Inter', sans-serif;
        margin: 8px 0px 24px;
        line-height: 24px;
    }
    .developer-cloud-text a{
        color: #ffffff;
        text-decoration: none;
    }
    .developer-cloud-container .developer-cloud-img img{
        width: 124px;
        height: 68.75px;
        border-radius: 16px 16px 0 0;
    }
    .start-for-free-container{
        max-width: 1136px;
        margin: 0 auto;
        padding: 120px 24px 0;
    }
    .start-for-free{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: white;
        padding: 24px;
        border-radius: 24px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    }
    .start-for-free h5{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    .start-for-free .signup-token{
        font-size: 16px;
        font-family: 'Inter',sans-serif;
        max-width: 500px;
        line-height: 24px;
    }
    .start-for-free .get-started-btn{
        display: flex;
        justify-content: center;
        align-items: end;
        background-color: rgb(0, 105, 255);
        border-radius: 20px;
        margin: 24px 0px;
    }
    .start-for-free a{
        display: flex;
        align-items: center; 
        justify-content: flex-end;
        padding: 0 20px;
        border-radius: 8px;
        color: white;
        font-weight: 700;
        height: 40px;
        text-decoration: none;
        font-family: 'Inter',sans-serif;
    }
    footer{
        display: none;
    }
    .copyrightXsocial-media-handle{
        display: flex;
        flex-direction: column;
        max-width: 1136px;
        margin: 0px auto 0;
        padding: 0 24px 80px;
        background-color: #F9FAFE;
    }
    .copyrightXsocial-media-handle .copyright{
        display: flex;
        align-items: center;
        flex-flow: column;
        gap: 16px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #4d5b7c;
        margin-bottom: 32px;
    }
    .copyright img{
        display: inline;
    }
    .copyright a{
        text-decoration: none;
        color: #4d5b7c;
        font-family: 'Inter', sans-serif;
    }
    .social-media-handle {
        display: flex;
        gap: 16px;
    }
    .social-media-handle a{
        color: #4d5b7c;
        text-decoration: none;
    }
}
@media (min-width:1000px) {
    header{
        display: flex;
        width: 100%;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .header-styles{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .header-styles .top-nav{
        display: flex;
        justify-content: space-between;
    }
    .about-isvs p{
        font-size: 14px;
    }
    .top-nav .isvs-navigation{
        display: flex;
        gap: 16px;
    }
    .header-styles .primary-nav{
        display: flex;
    }
    .primary-nav-container .product {
        display: flex;
    }
    .digitalocean-nav a{
        display: flex;
        align-items: center;
    }
    .enter-digitalocean a{
        display: flex;
        align-items: center;
    }
    .primary-nav-container .log {
        display: flex;
    }
    .arrow{
        display: flex;
        transform: rotate(90deg);
    }
    .top-nav-container{
        background-color: #081b4b;
        padding: 2px 0;
    }
    .top-nav,.primary-nav{
        max-width: 74rem;
        width: 100%;
        margin: 0 auto;
        color: white;
        padding: 8px 0px;
    }
    .top-nav .isvs-navigation a{
        text-decoration: none;
        color: white;
        gap: 16px;
        font-size: 14px;
    }
    .primary-nav-container{
        background-color: #F9FAFE;
        border-bottom: 1px solid rgb(227, 232, 244);
        /* padding: 8px 0; */
    }
    .primary-nav-container .digitalocean-logo{
        display: flex;
        align-items: center;
        height: 55px;
    }
    .primary-nav-container .digitalocean-nav{
        display: flex;
        gap: 8px;
        margin-left: 32px;
    }
    .digitalocean-nav a{
        padding: 12px 8px;
        display: flex;
        height: 46px;
        align-items: center;
        margin-top: 5px;
        gap: 8px;
        color: rgb(36, 51, 90);
        font-weight: 500;
        text-decoration: none;
    }
    .digitalocean-nav a:hover{
        background-color: #e3e8f4;
        border-radius: 8px;
    }
    .primary-nav .enter-digitalocean{
        margin-left: auto;
        gap: 8px;
        display: flex;
    }
    .enter-digitalocean  a{
        gap: 8px;
        height: 46px;
        margin-top: 5px;
        color: rgb(36, 51, 90);
        text-decoration: none;
    }
    .enter-digitalocean .login{
        padding: 0 20px;
    }
    .enter-digitalocean .login:hover{
        background-color: #e3e8f4;
        border-radius: 8px;
    }
    .enter-digitalocean .signup{
        padding: 0 20px;
        background-color: rgb(0, 105, 255);
        border-radius: 8px;
        color: white;
        font-weight: 700;
        height: 40px;
        margin-top: 8px;
    }
    .subnav-container{
        border-bottom: 1px solid rgb(227, 232, 244);
        color: #4d5b7c;
        background-color: white;
    }
    .subnav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 74rem;
        width: 100%;
        margin: 0 auto;
        height: 60px;
    }
    .subnav .question{
        display: flex;
        gap: 24px;
    }
    .question a{
        color: rgb(36, 51, 90);
        text-decoration: none;
    }
    .question a:hover{
        color: #0069ff;
    }
    .search-communities{
        display: flex;
        align-self: center;
        padding: 10px 16px;
        background-color: rgb(249, 250, 254);
        border: 1px solid rgb(214, 220, 234);
        border-radius: 8px;
        gap: 10px;
        color: #5b6987;
    }
    .mobile-nav{
        display: none;
    }
    .getting-started-template-container{
        position: relative;
        overflow: hidden;
        background-color: #F9FAFE;
    }
    .getting-started-template-container .getting-started-template{
        max-width: 75rem;
        width: 100%;
        margin: 0 auto;
        display: flex;
        padding: 0 0 120px;
    }
    .getting-started-template .digitalocean-community{
        max-width: 864px;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .digitalocean-community .heart-in-circles-svg{
        display: flex;
        position: absolute;
        left: -500px;
        top: -28px;
    }
    .digitalocean-community .qna-svg{
        display: flex;
        position: absolute;
        right: -500px;
        top: -220px;
        overflow-x: hidden; 
    }
    .digitalocean-community .get-started{
        display: flex;
        flex-direction: column;
    }
    .digitalocean-community .get-started .digitalocean-about h1{
        margin: .67em auto;
        color: rgb(8, 27, 75);
        font-size: 60px;
        font-weight: 700;
        line-height: 1.4;
        letter-spacing: -2px;
        width: 800px;
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Epilogue', sans-serif;
        color: rgb(8, 27, 75);
    }
    .digitalocean-community .get-started .digitalocean-about p{
        font-size: 18px;
        width: 450px;
        margin: 0 auto;
        color: rgb(91, 105, 135);
        font-weight: 400;
        line-height: 28px;
        font-family: 'Inter', sans-serif;
    }
    .digitalocean-community .get-started .jumpin-btn{
        margin-top: 76px;
        background-color: white;
        padding: 24px;
        border: 1px solid rgb(8, 11, 45);
        border-radius: 16px;
        z-index: 1;
        cursor: pointer;
        width: 100%;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
        width: 678px;
        margin-left: auto;
        margin-right: auto;
        position: relative; 
        z-index: 100;
    }
    .jumpin-btn p{
        color: rgb(8, 27, 75);
        font-weight: 500;
        line-height: 36px;
        font-size: 20px;
        font-family: 'Inter', sans-serif;
        z-index: 100;
    }
    .oca-svg{
        display: flex;
        position: absolute;
        right: 0;
        bottom: 497px;
        z-index: 1;
    }
    .introduction-container{
        padding-top: 64px;
    }
    .intro-dig{
        z-index: 10;
        padding: 64px 0px;
    }
    .introduction-container .introduction{
        display: flex;
        flex-direction: row;
        gap: 32px;
        max-width: 1360px;
        padding: 0 45px;
        margin: 0 auto;
    }
    .introduction .intro-cloud{
        background-color: #b5f6ff;
        display: flex;
        flex: 1;
        border-radius: 16px;
        padding: 40px;
        margin-bottom: 32px;
    }
    .intro-cloud img{
        width: 56px;
        height: 64px;
        margin-right: 32px;
    }
    .intro-cloud div h4{
        font-size: 24px;
        margin: 0 0 8px;
        /* white-space: nowrap; */
    }
    .intro-cloud div p{
        font-family: 'Inter', sans-serif;
    }
    .introduction .intro-dig{
        flex: 1;
        background-color: #b5f6ff;
        display: flex;
        border-radius: 16px;
        padding: 40px;
        margin-bottom: 32px;
    }
    .intro-dig img{
        width: 56px;
        height: 64px;
        margin-right: 32px;
    }
    .intro-dig div h4{
        font-size: 22px;
        margin: 0 0 8px;
        /* white-space: nowrap; */
    }
    .last-child{
        font-family: 'JetBrains Mono', monospace;
        color: #0069ff;
    }
    .other-intro{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
        max-width: 1360px;
        padding: 0 45px;
        margin: 0 auto;
    }
    .other-intro .intro{
        gap: 32px;
        background-color: #cee0fa;
        flex: 1;
        padding: 40px;
        margin-bottom: 32px;
        border-radius: 12px;
    }
    .other-intro .intro p{
        font-family: 'Inter', sans-serif;
    }
    .signup-bonus{
        background: linear-gradient(rgb(155, 98, 255) -6.58%, rgb(102, 23, 239) 132.24%);
        max-width: 1088px;
        margin: 100px auto 0px;
        padding: 24px 32px;
        border-radius: 16px;
        color: white;
        font-family: 'Inter', sans-serif;
        line-height: 25px;
        font-size: 18px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin-bottom: 64px;
    }
    .signup-bonus a{
        color: white;
    }
    .tutorial-container{
        padding-bottom: 64px;
    }
    .tutorial-container svg{
        display: flex;
        width: 100%;
        height: 54px;
    }
    .tutorial-container .tutorial-section{
        background-color: rgb(239, 242, 251);
        padding: 64px 0;
        line-height: 1.4;
    }
    .tutorial-section .tutorial{
        max-width: 74rem;
        width: 100%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
    }
    .tutorial h2{
        margin: 0px auto 8px;
        font-size: 40px;
    }
    .tutorial h5{
        font-size: 16px;
        font-weight: 400;
        margin: 0px auto 8px;
    }
    .tutorial a{
        text-decoration: none;
        margin: 24px auto 64px;
    }
    .tutorial h4{
        margin: 0 auto 32px;
    }
    .tutorial-container .tutorial-card-container{
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(auto-fit, minmax(384px, 1fr))
    }
    .tutorial-card-container .tutorial-card{
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: rgba(0, 44, 155, 0.15) 0px 6px 20px -6px;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;
    transition: box-shadow 0.4s ease 0s, transform 0.4s ease 0s;
    }
    .tutorial-card:hover{
        transform: translatey(-5px);
    }
    .tutorial-card .ty{
        margin-top: 8px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 800;
    }
    .tutorial-card .p1{
        font-family: 'Epilogue', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }
    .tutorial-card .time{
        color: rgb(138, 150, 181);
        margin: 16px 0 0;
        line-height: 1.6;
        font-weight: 400;
    }
    .tutorial-container .svg {
        transform: rotate(180deg);
    }
    .get-involved-container{
        padding: 64px 0;
        background-color: #F9FAFE;
    }
    .get-involved-container .get-involved{
        display: flex;
        flex-direction: column;
        margin: 64px 0px;
        max-width: 74rem;
        margin: 0 auto;
    }
    .get-involved h2{
        font-size: 40px;
        margin: 0px auto 64px;
    }
    .get-involved h5{
        font-weight: 400;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .get-involved .involve-card-container{
        display: flex;
        flex-direction: row;
    }
    .involve-card-container .involve-card{
        display: flex;
        flex-direction: column;
        margin-right: 32px;
    }
    .involve-card img{
        width: 64px;
        height: 64px;
        margin: 0 auto;
    }
    .involve-card h4{
        margin: 16px auto 8px;
        font-size: 24px;
        text-align: center;
        line-height: 1.4;
    }
    .involve-card p{
        text-align: center;
        font-family: 'Inter', sans-serif;
        margin: 0 0 24px;
        font-size: 16px;
        line-height: 24px;

    }
    .involve-card a{
        text-align: center;
        text-decoration: none;
    }
    .favourite-topic-container{
        padding: 64px 0;
        background-color: #F9FAFE;
    }
    .favourite-topic-container .favourite-topic{
        display: flex;
        flex-direction: column;
        margin: 64px 0px;
        max-width: 74rem;
        margin: 0 auto;
    }
    .favourite-topic h2{
        font-size: 40px;
        margin: 0px auto 64px;
    }
    .favourite-topic h5{
        font-weight: 400;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .favourite-topic-container a{
        text-align: center;
        text-decoration: none;
        margin: 24px auto 64px;
    }
    .topic-card-container{
        display: flex;
        flex-wrap: wrap;
        max-width: 1100px;
        margin: 0 auto;
        justify-content: center;
    }
    .top-nav-container .topic-card{
        display: flex;
        background-color: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
        cursor: pointer;
        display: flex;
        font-weight: 600;
        margin: 16px;
        max-width: 296px;
        padding: 24px 32px;
        transition: box-shadow 0.4s ease 0s, transform 0.4s ease 0s;
        width: 100%;
        font-family: 'Inter', sans-serif;
        align-items: center;
    }
    .topic-card-container img {
        margin-right: 32px;
    }
    .topic-card:hover{
        transform: translateY(-5px);
    }
    .course-name>*:first-child{
        font-size: 16px;
        line-height: 22px;
        font-weight: 500;
    }
    .course-name>*:not(:first-child){
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
    }
    .looking-for-container .looking-for{
        background-color: rgb(239, 242, 251);
        padding: 10px 0;
        margin: 0;
        padding: 64px 20px
    } .looking-for-container h2{
        text-align: center;
        font-size: 40px;
        margin: 0px auto 64px;
    }
    .find{
        display: flex;
        flex-direction: row;
        gap: 32px;
        line-height: 1.4;
    }
    .find h4{
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        text-decoration: none;
        padding-bottom: 8px;
    }
    .find p{
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        line-height:22px;
        Color:#4d5b7c;
    }
    .find .browse{
        display: flex;
        align-items: end;
        border-radius: 24px;
        padding: 32px 40px;
        width: 100%;
        text-decoration: none;
        background: url(https://www.digitalocean.com/_next/static/media/block-blue.5162654e.jpg) 0% 0% / cover no-repeat;;
    }
    .find .ask{
        padding: 45px;
        text-decoration: none;
        background-image: url(https://www.digitalocean.com/_next/static/media/block-pink.25c77919.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 24px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 4px 8px;
        display: flex;
        flex-direction: column;
        height: 320px;
        justify-content: end;
        margin-bottom: 32px;
        transition: box-shadow 0.2s ease 0s;
        width: 416px;
    }
    .find .view{
        padding: 45px;
        text-decoration: none;
        background-image: url(https://www.digitalocean.com/_next/static/media/block-yellow.951bfc65.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 24px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 4px 8px;
        display: flex;
        flex-direction: column;
        height: 320px;
        justify-content: end;
        margin-bottom: 32px;
        transition: box-shadow 0.2s ease 0s;
        width: 416px;
        margin-bottom: 0px;
    }
    .community-content-container{
        background-color: #F9FAFE;
    }
    .community-content{
        padding: 64px 20px;
        margin: 0 auto;
    }
    .community-content h2{
        font-size: 40px;
        margin: 0 auto 64px;
        text-align: center;
        max-width: 1000px;;
        line-height: 56px;
    }
    .community-content .signup-form{
        display: flex;
        flex-direction: row;
    }
    .signup-form h4{
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin: 0 0 8px;
    }
    .signup-form p{
        font-family: 'Inter', sans-serif;
        line-height: 22px;
        font-size: 17px;
        color: #4d5b7c;
    }
    .signup-form .newsletter-infrastructure{
        padding: 40px 32px;
        margin: 0px 32px 0px 0px;
        background: white;
        border-radius: 8px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    }
    .newsletter-infrastructure .input{
        display: flex;
        flex-direction: row;
    }
    .newsletter-infrastructure input{
        padding: 16px;
        border-radius: 8px;
        width: 100%;
        height: 50px;
        margin-top: 16px;
        border: 1px solid rgb(192, 194, 211);
        box-shadow: rgba(91, 105, 135, 0.2) 0px 4px 0px; 
    }
    .input a{
        color: white;
        padding: 16px;
        margin-left: 16px;
        text-decoration: none;
        background-color: #0069ff;
        text-wrap: nowrap;
        display: flex;
        align-items: center;
        font-weight: 700;
        border-radius: 8px;
    }
    .signup-form .socialmedia-pages{
        max-width: 528px;
        padding: 40px 32px;
        background: #9fddff;
        border-radius: 8px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    }
    .socialmedia-pages .accounts{
        margin: 16px 0 0;
    }
    .socialmedia-pages .accounts a{
        color: #4d5b7c;
        text-decoration: none;
    }
    .socialmedia-pages .accounts a:hover{
        color: black;
        transition: color .2s;
    }
    .knowledge-aplication-container{
        background-color: #F9FAFE;
    }
    .knowledge-aplication{
        padding: 64px 20px 128px 20px;
        margin: 0 auto;
    }
    .knowledge-aplication .knowledge-aplication-card{
        display: flex;
        flex-direction: row;
    }
    .knowledge-aplication h2{
        font-size: 40px;
        margin: 0 auto 64px;
        text-align: center;
        max-width: 1000px;;
        line-height: 56px;
    }
    .knowledge-aplication-card img{
        width: 100%;
        height: 73%;
        margin-bottom: 32px;
    }
    .card h4{
        font-size: 24px;
        line-height: 34px;
        font-weight: 600;
        margin: 0 64px 8px 0;
    } 
    .card p{
        font-family: 'Inter', sans-serif;
        line-height: 22px;
        font-size: 17px;
        color: #4d5b7c;
        margin: 0 64px 8px 0;
    }
    .webhosting-container{
        display: flex;
        padding: 64px 0;
        background-color: #F9FAFE;
    }
    .webhosting {
        display: flex;
        background: linear-gradient(rgb(0, 105, 255) 0%, rgb(0, 54, 172) 100%);
        max-width: 864px;
        margin: auto;
        border-radius: 24px;
    }
    .webhosting div{
        padding: 32px 40px 32px 64px;
        color: #ffffff;
    }
    .webhosting div h2{
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #ffffff;
        margin-bottom: 8px;
    }
    .webhosting div p{
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        margin-bottom: 24px;
    }
    .webhosting div a{
        text-decoration: none;
        color: #ffffff;
    }
    .appreciation-message-container{
        padding: 120px 20px;
        background-color: #F9FAFE;
    }
    .appreciation-message{
        background-image: url(https://www.digitalocean.com/_next/static/media/thank-you-banner.c4f5d24d.svg);
        background-color: #75EEFE;
        border-radius: 16px;
        padding: 64px 20px;
        margin: 64px auto;
    }
    .appreciation-message h2{
        font-size: 40px;
        line-height: 56px;
        text-align: center;
    }
    .opportunity-section-container{
        background-color: #F9FAFE;
    }
    .opportunity-section{
        max-width: 1136px;
        width: 100%;
        padding: 0px 24px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 341px);
        gap: 32px;
    }
    .opportunity-section .mm{
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        background: white;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
        margin-bottom: 30px;
    }
    .opportunity-section img{
        border-radius: 24px;
    }
    .opportunity-card .good{
        padding: 32px 40px;
    }
    .good h5{
        font-size: 24px;
        line-height: 32px;
        font-weight: 600;
    }
    .good p{
        font-size: 16px;
        line-height: 24px;
        color: rgba(8, 27, 75, 0.7);
        font-family: 'Inter', sans-serif;
        margin-bottom: 24px;
    }
    .good .tt{
        margin-top: 24px;
    }
    .community-and-product-section{
        background-color: #F9FAFE;
    }
    .community-and-product{
        max-width: 1136px;
        width: 100%;
        padding: 0px 24px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .community-section, .product-section{
        margin: 64px auto 0;
    }
    .community-section h6, .product-section h6{
        text-align: center;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
    }
    .community-section .links, .product-section .links{
        display: flex;
        flex-direction: row;
        gap: 32px;
        margin-top: 16px;
        font-family: 'Inter', sans-serif;
        white-space: wrap;
    }
    .links ul{
        display: flex;
        list-style: none;
        gap: 32px;
        flex-flow: wrap;
        justify-content: center;
    }
    .links a{
        color: #0069ff;
    }
    .developer-cloud-container{
        padding: 128px 0px;
        background-color: #F9FAFE;
    }
    .developer-cloud{
        background-color: #1433dc;
    }
    .about-developer-cloud{
        display: grid;
        grid-template-columns: repeat(2, minmax(0px,1fr));
        color: white;
        max-width: 1136px;
        padding: 80px 24px 0;
        margin: 0 auto;
        gap: 32px;
        align-items: center;
    }
    .developer-cloud-text{
        display: flex;
        align-items: center;
    }
    .developer-cloud-text h4{
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
    }
    .developer-cloud-text p{
        font-family: 'Inter', sans-serif;
        margin: 8px 0px 24px;
        line-height: 24px;
    }
    .developer-cloud-text a{
        color: #ffffff;
        text-decoration: none;
    }
    .developer-cloud-container .developer-cloud-img img{
        width: 528px;
        height: 297px;
        border-radius: 16px 16px 0 0;
    }
    .start-for-free-container{
        max-width: 1136px;
        margin: 0 auto;
        padding-top: 120px;
    }
    .start-for-free{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: white;
        padding: 32px 40px;
        border-radius: 24px;
        box-shadow: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
    }
    .start-for-free h5{
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 8px;
    }
    .start-for-free .signup-token{
        font-size: 16px;
        font-family: 'Inter',sans-serif;
        max-width: 500px;
        line-height: 24px;
    }
    .start-for-free .get-started-btn{
        display: flex;
        justify-content: flex-end;
        align-items: end;
        background-color: rgb(0, 105, 255);
        border-radius: 20px;
        margin-left: 230px; 
        margin-bottom: 8px;
    }
    .start-for-free a{
        display: flex;
        align-items: center; 
        justify-content: flex-end;
        padding: 0 20px;
        border-radius: 8px;
        color: white;
        font-weight: 700;
        height: 40px;
        text-decoration: none;
        font-family: 'Inter',sans-serif;
    }
    .footer{
        padding: 128px 0;
        background-color: #F9FAFE;
    }
    footer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(192px, 1fr));
        max-width: 1136px;
        margin: 0 auto;
        gap: 32px;
        padding: 0 24px;
    }
    footer h6{
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 24px;
        font-weight: 700;
    }
    footer ul{
        list-style: none;
        margin: 16px 0 0;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    footer ul li a{
        color: rgb(77, 91, 124);
        font-family: Inter, sans-serif;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 20px;
        font-weight: 400;
        text-decoration: none;
    }
    .copyrightXsocial-media-handle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1136px;
        margin: 80px auto 0;
        padding: 0 24px;
    }
    .copyrightXsocial-media-handle .copyright{
        display: flex;
        flex-flow: row;
        align-items: center;
        gap: 16px;
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        color: #4d5b7c;
    }
    .copyright a{
        text-decoration: none;
        color: #4d5b7c;
        font-family: 'Inter', sans-serif;
    }
    .social-media-handle {
        display: flex;
        gap: 16px;
    }
    .social-media-handle a{
        color: #4d5b7c;
        text-decoration: none;
    }
}
